<% include templates/header %>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Forgot Password</h1>
        <% include messages %>

        <form action="/forgot" method="post">
            <% include fields/email %>
            <button type="submit" class="btn btn-warning btn-lg">Submit</button>
        </form>

        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>
    </div>
</div>
<% include templates/footer %>