<% include templates/header %>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Login</h1>
        <% include messages %>

        <!-- LOGIN FORM -->
        <form action="/login" method="post" data-toggle="validator">
            <% include fields/email %>
            <% include fields/password %>                

            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>

        <hr>
        <p>Forgot Password? <a href="/forgot">Password Reset</a></p>
        <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Or go <a href="/">home</a>.</p>
    </div>
</div>
<% include templates/footer %>