<% include templates/header %>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3 text-center">
        <h2><%= title %></h2>
        <p><%= message %></p>
    </div>
</div>
<% include templates/footer %>