<div class="form-group">
    <label label for="email" class="control-label">Email</label>
    <input
        type="email" 
        class="form-control" 
        name="email" 
        id="email" 
        required 
        data-error="Bruh, that email address is invalid"
    >
    <div class="help-block with-errors"></div>
</div>    