<div class="form-group">
    <label label for="password" class="control-label">Password</label>
    <input 
        type="password" 
        class="form-control" 
        name="password" 
        data-minlength="8"
        data-error="Whoops, too short" 
        required
    >
    <div class="help-block with-errors"></div>
</div>